<hr class='my-4' />
            <div class="d-flex justify-content-center">

                <div class="row">

                    <div class="col-md-4">
                        <div class="card text-center">
                            <div class="card-header">Luogo</div>
                                <div class="card-body">
                                    <i class="fas fa-map-marker-alt"></i>
                                        Via Rocca 3, Passatore (CN), Italia
                                </div>
                                <!-- <div class="card-footer">fppter</div> -->
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card text-center">
                            <div class="card-header">Telefono</div>
                                <div class="card-body">
                                <a href="tel:+390171697961" class="fa fa-phone"></a>
                                    (+39) 345 286 23 54
                                </div>
                            <!-- <div class="card-footer">fppter</div> -->
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card text-center">
                            <div class="card-header">E-Mail</div>
                                <div class="card-body">                            
                                    <a href="mailto:villabersezio@gmail.com?subject=Richiesta informazioni" class="fas fa-envelope-open"></a>
                                        villabersezio@gmail.com
                                </div>
                                <!-- <div class="card-footer">fppter</div> -->
                        </div>
                    </div>
                </div>
            </div>
            <hr class='my-4' />
            <div class="row my-5" style="margin-left: 50px;">
                <a class="btn btn-danger hvr-grow-shadow" href="/">Torna alla Home</a>
            </div>
        </div>

        
    </div>

    


    <!-- <h2 class="title-contact" align="center">CONTATTI</h2> -->
        
        <footer>
          <div class="text-center center-block fixed-bottom">
            <br />
            <a href="https://www.facebook.com/"><i class="fab fa-facebook" style="color: #3b5998;"></i></a>
            <a href="https://twitter.com/"><i class="fab fa-twitter" style="color: #55acee;"></i></a>
            <a href="https://instagram.com/"><i class="fab fa-instagram" style="color: #e95950;"></i></a>
            <a href="https://gov.ro/ro"><i id="animation-Logo-OS" class="icon-OS_Logo" style="color: #FF0084;"></i></a>
    
            <p id="text-footer" style="color: red; text-shadow: none; margin-top: 5px;">© All rights reserved to OmniaStudios.</p>
          </div>
    
        </footer>
</body>