<%- include('./partials/header')%>
<body>

<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

      <a href="https://gov.ro/ro"><i id="animation-Logo-OS" class="icon-OS_Logo"></i></a>


    <!-- Login Form -->
    <form class ="form" method ="POST" action ="/admin/login">
      <input type="userName" id="userName" class="fadeIn second" name="userName" placeholder="userName">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Login">
    </form>

  </div>
</div>
</body>
<%- include('./partials/footer')%>
