<%- include('./partials/headerDashboard')%>
<link rel="stylesheet" href="/assets/css/homeDash.css">


<body onload="startTime()">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Villa Bersezio&nbsp;</a>
    <a class="navbar-brand" id="admin-cockpit" href="#"><b>| </b>&nbsp;&nbsp;Administration Cockpit</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link first" href="dashboard"><i class="fas fa-home"></i> Home <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item second">
          <a class="nav-link" href="/admin/creaPost"><i class="fas fa-plus"></i>&nbsp;Crea Post</a>
        </li>
        <li class="nav-item third">
          <a class="nav-link" href="/admin/modificaPost"><i class="fas fa-pen"></i>&nbsp;Modifica Post</a>
        </li>
        <li class="nav-item fourth">
          <a class="nav-link" href="/admin/eliminaPost"><i class="fas fa-trash"></i>&nbsp;Elimina Post</a>
        </li>
        <li class="nav-item fifth">
          <a class="nav-link" href="/admin/tuttiPost"><i class="fas fa-book"></i>&nbsp;Storico Post</a>
        </li>
        <li class="nav-item profile">
          <div class="dropdown" style="padding-top: -10px !important;">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img style="width: 30px; height: 30px;" src="/assets/img/sgarbi.png" alt="profile-dropdown">
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item dropdown-profile" style="font-size: 15px;" href="/admin/profile"><i class="fas fa-user-circle"></i> Profilo</a>
              <a class="dropdown-item dropdown-exit" style="font-size: 15px;" href="/admin/logout"><i class="fas fa-sign-out-alt"></i> Esci</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 100%; height: 60vh;">
          <div class="card-body align-items-center d-flex justify-content-center">
            <img src="/assets/img/sgarbi.png" alt="Profile Photo" id="rotation"
              style="position: relative; top: -10px; left: -30px;">
            <h5 class="card-title" style="font-family: 'Abril Fatface', cursive; font-size: 200%;">Bentornato, Ciccio
            </h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 100%; height: 40vh;">
          <div class="card-body align-items-center d-flex justify-content-center">
            <div id="txt" style="font-family: 'Montserrat', sans-serif; font-size: 250%;"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card" style="width: 100%;">
          <div class="card-body">
            <%var contaPost = 0;%>
                <% Post.forEach((Post, index) => { %>
                <% contaPost++; %>
                <%})%>
            <h1 class="card-title"
              style="font-family: 'Abril Fatface', cursive !important; opacity: 0.8; font-size: 150%;">Post Creati</h1>
            <p class="card-text" style="font-family: 'Montserrat', sans-serif;"><%=contaPost%></p>
            <a href="/admin/tuttiPost" class="card-link"><i class="fas fa-book"></i> Storico dei Post</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 100%;">
          <div class="card-body align-items-center d-flex justify-content-center" style="height: 30vh;">
            <font color="#000" style="font-family: 'Montserrat', sans-serif; opacity: 0.9; font-weight: 300;"><b>
                <script type="text/JavaScript">
              var mydate=new Date()
              var year=mydate.getYear()
              if (year <1000)
              year+=1900
              var day=mydate.getDay()
              var month=mydate.getMonth()
              var daym=mydate.getDate()
              if (daym<10)
              daym="0"+daym
              var dayarray=new Array("Dom ","Lun ","Mar ","Mer ","Gio ","Ven ","Sab ")
              var montharray=new Array("/ 01 /","/ 02 /"," / 03 /"," / 04 /","/ 05 /","/ 06 /","/ 07 /","/ 08 /","/ 09 /","/ 10 /","/ 11 /","/ 12 /")
              document.write(dayarray[day]+" "+daym+" "+montharray[month]+" "+year)
              </script>
            </font>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 100%;">
          <div class="card-body">
            <h1 class="card-title"
              style="font-family: 'Abril Fatface', cursive !important; font-size: 150%;opacity: 0.8;">Visualizzazioni
              del Sito</h1>
            <h6 class="card-text" style="font-family: 'Montserrat', sans-serif;">1492</h6>
            <p class="card-text" style="font-size: 60%; font-family: 'Montserrat', sans-serif;">Qui trovi le
              visualizzazioni totali prodotte dal sito.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

<button class="btn site" data-toggle="tooltip" data-placement="right" title="Vai al Sito"><a href="/#home" style="display: block; text-align: right;" class="fas fa-globe-europe"></a></button>
  <footer style="padding-top: 30px;">
    <h6 style="text-align: center; font-size: 80%; font-family: 'Montserrat'; font-weight: 200; color: #000;"><b>© All
        rights Reserved to the OmniaStudios</b></h6>
  </footer>
  <script src="/assets/js/script.js"></script>

</body>
<%- include('./partials/footerDashboard')%>
