<%- include('./partials/header') %>



<body class="body-error">
    <div class="container">
        <div class="col-md-12">
            <div class="d-flex justify-content-center" style="margin-bottom: 10px; margin-top: 20px;">
                <h1 style="color: red; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Whooops! Abbiamo un problema - e<%= err %></h1>
            </div>

<%- include('./partials/error') %>        

<%- include('./partials/footer') %>