<%- include('./partials/header') %>



<body>

    <div class="container">
        <div class="col-md-12">
            <div class="d-flex justify-content-center" style="margin-bottom: 10px; margin-top: 20px;">
                <h1>Ricerca fallita - e<%= err %></h1>
            </div>

            <hr class='my-4' />
            <div class="d-flex justify-content-center">

                <div class="row">

                    <div class="col-md-4">
                        <div class="card text-center">
                            <div class="card-header">Luogo</div>
                                <div class="card-body">
                                    <i class="fas fa-map-marker-alt"></i>
                                        Via Rocca 3, Passatore (CN), Italia
                                </div>
                                <!-- <div class="card-footer">fppter</div> -->
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card text-center">
                            <div class="card-header">Telefono</div>
                                <div class="card-body">
                                <a href="tel:+390171697961" class="fa fa-phone"></a>
                                    (+39) 345 286 23 54
                                </div>
                            <!-- <div class="card-footer">fppter</div> -->
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card text-center">
                            <div class="card-header">E-Mail</div>
                                <div class="card-body">                            
                                    <a href="mailto:villabersezio@gmail.com?subject=Richiesta informazioni" class="fas fa-envelope-open"></a>
                                        villabersezio@gmail.com
                                </div>
                                <!-- <div class="card-footer">fppter</div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-5" style="margin-left: 50px;">
                <a class="btn btn-dark hvr-grow-shadow" href="/">Torna alla Home</a>
            </div>
        </div>

        
    </div>

    


    <h2 class="title-contact" align="center">CONTATTI</h2>
        
        <footer>
          <div class="text-center center-block fixed-bottom">
            <br />
            <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
            <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
            <a href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
            <a href="https://gov.ro/ro"><i id="animation-Logo-OS" class="icon-OS_Logo"></i></a>
    
            <p id="text-footer">© All rights reserved to OmniaStudios.</p>
          </div>
    
        </footer>
      
</body>

<%- include('./partials/footer') %>