<%- include('./partials/header')%>

<body>
  <div id="pagepiling">
    <div class="section" id="home">
      <h1 id='section1-title' class="h2">Villa <br> Bersezio</h1>
      <div class="container">
        <i class="fas fa-long-arrow-alt-down bounce"></i>
      </div>
    </div>
    <div class="section" id="about">
      <div id='section2-title' class="container" align='center'>
        <h2 class="title-about">CHI SIAMO</h2>
        <br><br>
        <p class="p-about" align='justify'>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has
          been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
          and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
          electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
          Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
          PageMaker including versions of Lorem Ipsum.</p>
      </div>
    </div>
    <div class="section" id="post">
      <h1 class="h2">NUOVI POST</h1>

    </div>
    <div class="section" id="gallery">
      <div id="demo" class="carousel slide" data-ride="carousel" data-interval="false">

        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <h5 class="display-4 text-center">GALLERIA</h5>
          </div>
          <div class="carousel-item">
            <h5 class="display-4 text-center">FOTO 1</h5>
          </div>

          <div class="carousel-item">
            <h5 class="display-4 text-center">FOTO 2</h5>
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>

      </div>
    </div>
    <div class="section" id="position">
      <h1 class="h2">DOVE SIAMO</h1>
    </div>
    <div class="section" id="contact">
      <h1 class="h2">CONTATTI</h1>
      <footer class="page-footer black fixed-bottom">
        <div class="container my-contaier py-0">
          <div class="text-center">
            <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
          </div>
          <div class="text-center">
            <a href="https://facebook.com"><i class="fab fa-facebook"></i></a>
          </div>
          <div class="text-center">
            <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
          </div>
        </div>
      </footer>
    </div>


  </div>



  <div class="navbar-right">
    <nav>
      <ul id="myMenu">
        <li data-menuanchor="home" class="active"><a class="fas fa-home" href="#home"></a></li><br>
        <li data-menuanchor="about"><a class="far fa-user" href="#about"></a></li><br>
        <li data-menuanchor="post"><a class="fas fa-newspaper" href="#post"></a></li><br>
        <li data-menuanchor="gallery"><a class="fas fa-images" href="#gallery"></a></li><br>
        <li data-menuanchor="position"><a class="far fa-map" href="#position"></a></li><br>
        <li data-menuanchor="contact"><a class="fas fa-mobile-alt" href="#contact"></a></li><br>
      </ul>
    </nav>
  </div>





</body>



<%- include('./partials/footer')%>