<%- include('./partials/header')%>

<body>
  <div id="pagepiling">
    <div class="section" id="home">
      <h1 id='section1-title' class="h2">Villa <br> Bersezio</h1>
      <div class="container">
        <i class="fas fa-long-arrow-alt-down bounce"></i>
      </div>
    </div>
    <div class="section" id="about">
      <div id='section2-title' class="container" align='center'>
        <h2>CHI SIAMO?</h2>
        <br><br>
        <p align='justify'>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
          been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
          and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
          electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
          Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
          PageMaker including versions of Lorem Ipsum.</p>
      </div>
    </div>
    <div class="section" id="post">
      <h1 class="h2">NUOVI POST</h1>
    </div>
    <div class="section" id="gallery">
      <h1 class="h2">GALLERIA</h1>
    </div>
    <div class="section" id="position">
      <h1 class="h2">DOVE SIAMO</h1>
    </div>
    <div class="section" id="contact">
      <h1 class="h2">CONTATTI</h1>
    </div>
  </div>

  <!-- <ul id="myMenu">
    <li data-menuanchor="home" class="active" class="fas fa-home"><a href="#home"></a></li>
    <li data-menuanchor="about" class="far fa-user"><a href="#about"></a></li>
    <li data-menuanchor="post"><a href="#post"></a></li>
    <li data-menuanchor="gallery"><a href="#gallery"></a></li>
    <li data-menuanchor="position"><a href="#position"></a></li>
    <li data-menuanchor="contact"><a href="#contact"></a></li>
  </ul> -->
</body>

<script>
  $('.carousel').carousel({
    interval: 1000
  })
</script>

<%- include('./partials/footer')%>