<%- include('./partials/header')%>

<body style="background-color: black;">
  <div id="pagepiling">
    <div class="section">
      <div class="parallax">
        <header>
          <h1 class="title-homepage">VILLA BERSEZIO</h1>
          <i id="down" class="fas fa-long-arrow-alt-down"></i>
        </header>
      </div>
    </div>
    <div class="section">
      <div class="container tim-container">
        <div class="about-us">
          <div class="container-title-about">
            <h1 id="h1-about" class="title-about">CHI SIAMO</h1>
            <div class="paragraph">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu velit tortor. Praesent quis
                tincidunt felis, at posuere nisl. Pellentesque fermentum felis dolor, sit amet dignissim metus
                elementum a. Morbi accumsan blandit tincidunt. Sed laoreet, ligula at laoreet facilisis, tellus
                mauris
                tempor metus, id convallis dui mauris et metus. Phasellus turpis lacus, varius quis feugiat eget,
                convallis at orci. Etiam dui nulla, cursus sit amet rutrum dignissim, ullamcorper congue tellus.
                Nulla
                at volutpat ipsum. Proin vitae velit felis. Pellentesque ac quam vel ipsum tempor finibus eu a nunc.
                Cras id nisi in enim placerat tempor at ac metus. Integer id pretium leo. Curabitur a aliquam ex, ac
                laoreet lacus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                himenaeos.

                Quisque eget lobortis augue. Proin neque risus, euismod in elit semper, sagittis semper odio. Nulla
                sit amet efficitur velit. Nulla quis rutrum metus. Duis scelerisque, leo sed luctus volutpat, elit
                odio volutpat odio, sit amet vehicula felis libero at nunc. Curabitur sodales imperdiet viverra.
                Quisque iaculis leo id massa varius, non volutpat ante molestie. Morbi et lorem dictum lacus
                malesuada
                varius.

                Donec pellentesque, nisl in hendrerit porttitor, dolor diam eleifend enim, vel feugiat ante purus ut
                tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In bibendum ut massa eu pulvinar.
                Nunc pellentesque pulvinar metus eget sagittis. Vestibulum eleifend eu urna sit amet scelerisque.
                Vivamus non erat efficitur, placerat velit lobortis, commodo turpis. Sed metus libero, accumsan eget
                auctor eget, laoreet id risus. Vivamus euismod ipsum id blandit malesuada. Vestibulum ac risus ut
                augue euismod vehicula non sed neque. Vestibulum sit amet mi ac orci ornare finibus et et mauris.
                Nam
                nec mauris lorem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                himenaeos. Nulla vitae magna lacinia, consectetur quam et, pretium ligula.

                Maecenas eu risus elementum, malesuada sapien ut, suscipit ligula. Phasellus sodales arcu lacus,
                rutrum volutpat ligula tristique a. Curabitur convallis ex non venenatis pharetra. Fusce ut elit
                augue. Aenean malesuada velit quis purus accumsan, id euismod erat ultrices. Donec efficitur dolor
                fringilla orci suscipit, id varius nisl eleifend. Nulla sit amet purus.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="container tim-container">
        <div class="new-post">
          <h1 class="title-post">NUOVI POST</h1>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container tim-container">
        <div class="gallery">
          <h1 class="title-gallery">IMMAGINI</h1>
          <div id="carousel">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="item active">
                  <img src="https://source.unsplash.com/1920x1080/?nature,water" alt="Awesome Image">
                </div>
                <div class="item">
                  <img src="https://source.unsplash.com/1920x1080/?food,fast food" alt="Awesome Image">
                </div>
                <div class="item">
                  <img src="https://source.unsplash.com/1920x1080/?coronavirus" alt="Awesome Image">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="container tim-container">
        <div class="position">
          <h1 class="title-position">DOVE SIAMO</h1>
        </div>
      </div>
      <hr>
    </div>
    <div>
      <div class="container tim-container">
        <div class="contact">
          <h1 class="title-contact">CONTATTI</h1>
        </div>
      </div>
    </div>
  </div>

  <div id="navbar-full">
    <div class="container">
      <nav class="navbar navbar-fixed-top" role="navigation" >
        <div class="container">
          <!--Navbar on Right-->
          <div class="navbar-right">
            <i class="fas fa-home"></i>
            <i class="far fa-user"></i>
            <i class="far fa-newspaper"></i>
            <i class="far fa-images"></i>
            <i class="far fa-map"></i>
            <i class="fas fa-mobile-alt"></i>
          </div>

          <div id="vertical-line"></div>
        </div><!-- /.container-fluid -->
      </nav>
    </div>
  </div>
</body>


<%- include('./partials/footer')%>