<%- include('./partials/headerDashboard')%>
<link rel="stylesheet" href="/assets/css/profile.css">

<body onload="startTime()">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Villa Bersezio&nbsp;</a>
        <a class="navbar-brand" id="admin-cockpit" href="#"><b>| </b>&nbsp;&nbsp;Administration Cockpit</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link first" href="dashboard"><i class="fas fa-home"></i> Home <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item second">
                    <a class="nav-link" href="/admin/creaPost"><i class="fas fa-plus"></i>&nbsp;Crea Post</a>
                </li>
                <li class="nav-item third">
                    <a class="nav-link" href="/admin/modificaPost"><i class="fas fa-pen"></i>&nbsp;Modifica Post</a>
                </li>
                <li class="nav-item fourth">
                    <a class="nav-link" href="/admin/eliminaPost"><i class="fas fa-trash"></i>&nbsp;Elimina Post</a>
                </li>
                <li class="nav-item fifth">
                    <a class="nav-link" href="/admin/tuttiPost"><i class="fas fa-book"></i>&nbsp;Storico Post</a>
                </li>
                <li class="nav-item profile">
                    <div class="dropdown" style="padding-top: -10px !important;">
                      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img style="width: 30px; height: 30px;" src="/assets/img/sgarbi.png" alt="profile-dropdown">
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item dropdown-profile" style="font-size: 15px;" href="/admin/profile"><i class="fas fa-user-circle"></i> Profilo</a>
                        <a class="dropdown-item dropdown-exit" style="font-size: 15px;" href="/admin/logout"><i class="fas fa-sign-out-alt"></i> Esci</a>
                      </div>
                    </div>
                  </li>
            </ul>
        </div>
    </nav>

    <form style="padding: 30px 30px 30px 30px;">
            <div class="form-group">
                <img src="sgarbi.png" alt="Snow">
              <input style="padding-top: 20px;" type="file" class="form-control-file" id="exampleFormControlFile1">
            </div>
        <div class="form-group">
            <label for="exampleInputEmail1" style="font-family: 'Abril Fatface', cursive;">Nome</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Inserire il nome">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1" style="font-family: 'Abril Fatface', cursive;">Cognome</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Inserire il Cognome">
        </div>

        <form method="post">
            <a class="btn btn-save" id="success" type="button" href="#" role="button">Salva</a>
            <div id="message"></div>
        </form>
    </form>



    <footer style="padding-top: 30px;">
        <h6 style="text-align: center; font-size: 80%; font-family: 'Montserrat'; font-weight: 200; color: #000;"><b>©
                All
                rights Reserved to the OmniaStudios</b></h6>
    </footer>

</body>
<script src="script.js"></script>
<%- include('./partials/headerFooter')%>
