/*Desktop & Tablets*/
@media only screen and (min-width: 768px) {
    .title-about{
        padding-top: 5vh;
    }
    .paragraph{
        width: 85%;
        position: relative;
        top: -90vh;
    }
}
  
/*SmartPhone*/
  @media only screen and (max-width: 767px) {
   .title-about{
       align-items: left;
   }
    .paragraph{
       width: 75%;
       position: relative;
       top: -80vh;
   }
}
  
  /*Portrait phones*/
  @media only screen and (max-width: 767px) and (orientation: portrait) {
    .title-about{
        align-items: left;
    }
    .paragraph{
        width: 85%;
        position: relative;
        top: -80vh;
    }
}
